@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html {
    @apply scroll-smooth;
}

@layer components {
    .border-dashed-default {
        /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23d1d5db' stroke-width='3' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 16px; */

        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23d1d5db' stroke-width='2.5' stroke-dasharray='3%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 16px;
    }

    .table-default {
        @apply min-w-full divide-y divide-gray-200;

        thead {
            @apply bg-secondary;

            th {
                @apply px-4 py-2 text-xs font-medium text-center text-gray-700 sm:text-sm sm:px-6 sm:py-3;
            }
        }

        tbody {
            @apply bg-white divide-y divide-gray-200;

            td {
                @apply px-4 py-2 text-xs sm:text-sm sm:px-6 sm:py-3 whitespace-nowrap;
            }
        }
    }
}
